/*
*{
    margin: 0;
    padding: 0;

    Setta in automatico margin e padding a 0 in tutto il foglio di stile.
    Se vogliamo avere degli elementi con margin e padding diversi da 0, ci 
    sarà bisogno di specificarlo
}
*/

a{
    /* rende tutti i link di un determinato colore */
    text-decoration: none;
    color: #000000;
}

a:hover{
    /* Rende i link momentaneamente di un colore quando l'user ci passa 
    sopra con il cursore */
    color: red; 
}

a:active{
    /* Rende di un ddeterminato colore i link che sono attivi */
    color: green;
}

a:visited{
    /* Rende di un determinato colore i link che sono stati visitati */
    /* color:black; */
}


body{
    background-color:#f4f4f4; /* Imposta il colore dello sfondo */
    color: #555555; /* Imposta il colore del carattere*/

    font-family: Arial, Helvetica, sans-serif; 
    /* Imposta il font del carattere.
    Se il browser non riesce a leggere il primo tipo, 
    proseguerà con il secondo ecc*/

    font-size: 12px; /* Specifica la grandezza del carattere */
    font-weight: normal; /* Specifica lo spessore del carattere */
    /* Uguale a sopra, ma scritto abbreviato
    font: normal 16px Arial, Helvetica, sans-serif; */

    line-height: 1.6em; /* Specifica la distanza fra le varie linee, e puo' essere
    settata sia in pixel sia in em (standard gli em sono 16 pixel) */

    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
}

.button{
    background-color: #333333;
    color: #fff;
    padding: 10px 15px;
    border: none; 
}

.button:hover{
    background: red;
    color: #fff;
}

.clr{
    clear:both; /* Da utilizzare quanto si "floota" un elemento, altrimenti
    il blocco successivo verrà visualizzato non correttamente */
}

.box-1{
    background-color: #333333;
    color: #fff;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;

    border: 5px red solid; /* Uguale a prima */

    border-width: 3px; /* Specifica la larghezza dei bordi */
    /* border-bottom-width: 10px;  Specifica la larghezza del bordo inferiore */
    /* border-top-style: dotted;  Specifica lo stile del bordo superiore, 
    in questo caso è tratteggiato */

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;

    padding: 20px; /* Uguale a sopra */
    margin: 20px 0; /* maring a 20px per top e bottom, 0 per right and left */
    
}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline; /* Sottolinea il test */
    text-transform: uppercase; /* Trasforma in maiuscolo il testo */
    letter-spacing: 0.2em; /* Specifica lo spazio tra le lettere */
    word-spacing: 1em; /* Specifica lo spazio fra le parole */
}

.box-2{
    border: 3px dotted #cccccc;
    padding: 20px;
    margin: 20px 0;
}

.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px; /* Rende gli angoli del bordo curvi */ 
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    padding-left:20px;
    list-style: square; /* Rende quadrati i punti delle liste */ 
    list-style: none; /* Elimina i punti delle liste */
}

.categories li{
    padding-bottom: 6 px;
    border-bottom: dotted 1px #333333;
}

.myForm{
    padding:20px;
}

.myForm .formGroup{
    padding-bottom: 15px;
}

.myForm label{
    display: block; /* Trasforma la <label> da elemento inline ad elemento in block*/
}

.myForm input[type="text"], .myForm textarea
    {
    padding: 8px;
    width: 100%;
}

.block{
    float: left; /* L'elemento viene posto a sinistra del suo contenitore */
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; /* Rende tutte le box nella stessa linea */
}

#mainBlock{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}

#sideBar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.pBox{ /* La posizione di questo elemento è statica di default*/
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image: url(https://motorlifeit.files.wordpress.com/2019/09/fiat-panda-4x4.jpg?w=1080&h=616);
    background-repeat: no-repeat;
    background-position: 100px 200px;
    background-position: center center;
}

.pBox h1{
    color: white;
    position: absolute;
    top: 100px;
    left:200px;    
}

.pBox h2{
    color: white;
    position: absolute;
    bottom: 40px;
    right: 100px;    
}

.fixMe{ /* Farà si che il nostro elemento stia sempre a 400px
     dal top del nostro browser! */
    position: fixed;
    top:400px;
}

.myList{
   list-style: none;
}

.myList li:first-child{ /* Andrà a selezionare e modificare il primo "figlio" 
    di un determinato elemento */
    background: red;
}

.myList li:last-child{ /* Andrà a selezionare e modificare l'ultimo "figlio" 
    di un determinato elemento */
    background: blue;
}

.myList li:nth-child(5){ /* Andrà a selezionare e modificare il "figlio" 
    di posizione (n) di un determinato elemento */
    background: yellow;
}

.myList li:nth-child(even){ /* Andrà a selezionare e modificare il "figlio" 
    di posizione pari di un determinato elemento. (odd) è per i dispari */
    background: grey;
}